@import 'assets/styles/main.scss';
.homePage {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.hPage .navigationVisitorSignContainer {
  &:hover {
    transition: 1s;
    background-color: transparent;
  }
  .dropdownSign:hover, .dropbuttonSign:hover {
      color: map-get($colors, 'greymidnight');
  }

  .dropdownSign:hover, .dropbuttonSign:hover {
      color: map-get($colors, 'greymidnight');
      .dropbuttonSign {
          color: map-get($colors, 'greymidnight');
      }
  }
  .dropdownSign-content {
    a {
        color: map-get($colors, 'greymidnight');
    }    
    a:hover {
        background-color: map-get($colors, 'greymidnight');
        color: map-get($colors, 'snow');
    }    
}
}

.homePage h1, .homePage span {
    @include font-size-height($title-font-sizes, $title-font-heights);
    @include font-weight(heavy);
    font-family: $libre-franklin;
}

.homePage h2 {
    @include font-size-height($h1-font-sizes, $h1-font-heights);
    @include font-weight(light);
    font-family: $libre-franklin;
}

.homePage h3, .dropbutton.homePage, .dropbuttonSign.homePage, .logoIcon {
    @include font-size-height($h2-font-sizes, $h2-font-heights);
    @include font-weight(light);
    font-family: $libre-franklin;

}

  .cube {
    background: map-get($colors, 'greymidnight');
    width: 12px;
    height: 8px;
    -moz-border-radius:    10px;
    -webkit-border-radius: 10px;
    border-radius:         1px;
    position: absolute;
    transform-origin: top left;
    transform: scale(0) rotate(0deg) translate(-50%, -50%);
    animation: cube 24s ease-in forwards infinite;
    &:before {
        content:"";
        position: absolute;
        right: 100%;
        top: 2px;
        width: 0;
        height: 0;
        border-top: 1px solid transparent;
        border-right: 2px solid map-get($colors, 'greymidnight');
        border-bottom: 1px solid transparent;
    }
    
    &:nth-child(2n) {
      border-color:  map-get($colors, 'lightmidnight');
    }
    
    &:nth-child(2) {
      animation-delay: 2s;
      left: 70vh;
      top: 80vh;
    }
    
    &:nth-child(3) {
      animation-delay: 0s;
      left: 75vw;
      top: (random(75) + 4)+vh
    }
    
    &:nth-child(4) {
      animation-delay: 12s;
      left: 90vw;
      top: 10vh;
    }
    
    &:nth-child(5) {
      animation-delay: 18s;
      left: 10vw;
      top: 85vh;
    }
    
    &:nth-child(6) {
      animation-delay: 24s;
      left: 50vw;
      top: 10vh;
    }
  }
  
  @keyframes cube {
    from {
      transform: scale(0) rotate(0deg) translate(-50%, -50%);   
      opacity: 0.2;
    }
    to {
      transform: scale(20) rotate(960deg) translate(-50%, -50%); 
      opacity: 0;
    }
  }

  .frame {
    width: 100vW;
    height: 100vH;
    max-width: 100vW;
    max-height: 100vH;
    min-width: 100vW;
    min-height: 100vH;
    
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .scanlines {
    background: linear-gradient(
      to right,
      rgba(255,255,255,0),
      rgba(255,255,255,0) 50%,
      rgba(0,0,0,0.3) 70%,
      rgba(255,255,255,0.75)
    );
    background-size: 0.5rem 100%;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.15;
  }
  .scanlines::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }


h1 span {
    animation: crt-blink 1s infinite;
}
@keyframes crt-blink {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 0;
    }
    50.1% {
      opacity: 1;
    }
    100% {
      opacity: 1;
    }
}
  


  /* Style the video: 100% width and height to cover the entire window */
.backgroundVideo {
    z-index: -1;
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(10px);
    transform: scale(1.03);
}

.backgroundImg {
    z-index: -2;
    -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    background: url('../../assets/videos/backgroundVidSnapshot.jpg')center;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    min-height: 100%;
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
    transform: scale(1.03);
}

/* Add some content at the bottom of the video/page */
.homePageContent {
    bottom: 0;
    background: transparent;
    color: map-get($colors, 'snow');
    width: 60%;
    height: 100%;
    text-align: center;
    vertical-align: middle;
    z-index: 5;
    @media screen and (min-width: 0px) {
        padding: 20% 0;
  } 
    @media screen and (min-width: 576px) {
          padding: 10% 0;
    } 
    @media screen and (min-width: 768px) {
        padding: 7% 0; 
    }
    @media screen and (min-width: 992px) {
        padding: 5% 0;
    } 
    @media screen and (min-width: 1200px) {
        padding: 2% 0;  
    }
}

.loginButton, .registerButton {
  @include font-size-height($h2-font-sizes, $h2-font-heights);
  @include font-weight(light);
  width: 210px;
  padding: 0.35em 1.2em;
  border: 0.03em solid map-get($colors, 'snow');
  border-radius:0.12em;
  box-sizing: border-box;
  text-decoration:none;
  text-align: center;
  background: map-get($colors, 'greymidnight');
  color: map-get($colors, 'snow');
  cursor: pointer;
  display: inline-block;
  font-family: $libre-franklin;
  transition: all 0.8s;

  @media screen and (min-width: 0px) {
    width: 150px;
    border: 0.07em solid map-get($colors, 'snow');
    margin: 1em 1em;
  } 
  @media screen and (min-width: 576px) {
    width: 130px;
    margin: 3em 1em;
  } 
  @media screen and (min-width: 768px) {
    width: 165px;
    margin: 2.5em 1.5em;
  }
  @media screen and (min-width: 992px) {
    width: 190px;
    margin: 2em;
  } 
  @media screen and (min-width: 1200px) {
    width: 200px;
    margin: 1.5em 2em;
  }
}

.loginButton:hover, .registerButton:hover {
    background: map-get($colors, 'snow');
    color: map-get($colors, 'greymidnight');
}